{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
<h1>Открытка - Поздравление с Новым годом</h1>
<p>
    {% if recipient_gender == 'male' %}
        Уважаемый {{ recipient_name }}! Happy New Year! It's 2024! Желаю тебе любви и хорошей карьеры. Будь сильным как дракон!
    {% else %}
        Милая {{ recipient_name }}! Happy New Year! It's 2024! Желаю тебе счастья в этом году! Не забудь подвести итоги года, сделать карту желаний и загадать желание в 00:00)))
    {% endif %} 
</p>
<p>
    С наступающим новым годом! С любовью, <strong>{{ sender_name }}</strong>.
</p>
<div>
    <img src="/static/2024.jpg" style="height: 300px;">
</div>
{% endblock %}