{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
   <div style="display: flex; justify-content: space-between;">
       <p style="color: rebeccapurple;">Крутой сайтик</p>
       <div style="text-align: center;">
           <a href="/lab5/article_list">Посмотреть заметки</a>
           <a href="/lab5/new_article">Создать заметку</a>
           <a href="/lab5/users">Пользователи</a>
       </div>
       <div>
           <a href="/lab5/login" style="border: 2px solid rebeccapurple; padding: 5px 10px; border-radius: 5px;">Логин</a>
           <a href="/lab5/register" style="background-color: rebeccapurple; color: white; padding: 5px 10px; border-radius: 5px;">Регистрация</a>
           <a href="logout" style="border: 2px solid rebeccapurple; padding: 5px 10px; border-radius: 5px;">Выход</a>
           <span>{{username}}</span>
       </div>
   </div>
{% endblock %}